@{
                /**/

                ViewBag.Title = "Home Page";
}

<section class="container-fluid market baner-mark app-letra app-tam d-flex align-items-center justify-content-center  " id="inicio">
    <div class=" row  ">
        <div class="text-center  ">

            <h1 class=" app-size  threeD ">Se el #1 en  <font color="#4285F3">G</font><font color="#ED5F52">o</font><font color="#FBBC04">o</font><font color="#4285F3">g</font><font color="#33A852">l</font><font color="#EE695D">e</font></h1>
            <h2 class=" app-size threeD ">Que esperas!</h2>

            <h4 class="mt-5">Análisis SEO  | ¡Necesitas una propuesta!</h4>

            <a class="btn btn-primary button-mak button1" href="#contacto" role="button">Necesito informacion</a>
            <p class="mt-2"></p>
        </div>
    </div>
</section>

<section class="container-fluid " id="servicio">
    <div class=" mt-5  app-servicio ">
        <h4 class="text-center">Necesitas crecer profesionistas, negocios, micro, pequeñas.</h4>
        <h1 class="text-center">Nuestros servicios digitales</h1>
        <div class="d-flex justify-content-center">

            <div class="card-deck mt-5 col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                <div class="card  shadow-lg p-3 mb-5   bg-white rounded ">
                    <img src="img/negocio.svg" alt="...">
                    <div class="card-body  ">
                        <h2 class="card-title text-center">Estrategia digital</h2>

                        <p class="  text-justify">Te ayudamos a incrementar las ventas de tu producto o servicio a través de una estrategia digital global de posicionamiento en buscadores y otros canales digitales para que obtengas los mejores resultados.</p>

                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary button-mak button1" href="#contacto" role="button">Necesito informacion</a>
                    </div>
                </div>

                <div class="card  shadow-lg p-3 mb-5  bg-white rounded ">
                    <img src="img/diseno.svg" alt="disño web">
                    <div class="card-body  ">
                        <h2 class="card-title text-center">Diseño Web</h2>

                        <p class="  text-justify">En el ámbito empresarial, las página web se han convertido sin duda en una potente arma de comunicación y en un canal de ventas indispensable para toda empresa.</p>

                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary button-mak button1" href="#contacto" role="button">Necesito informacion</a>
                    </div>
                </div>

                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="img/seo.svg" alt="...">
                    <div class="card-body">
                        <h2 class="card-title text-center">SEO</h2>

                        <p class="text-justify">Nuestra misión es posicionarte en Google. Creamos estrategias y un plan de contenido único de calidad para lograr que tus clientes potenciales te encuentren en los primeros lugares al buscar tu producto o servicio en Google.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary button-mak button1" href="#contacto" role="button">Necesito informacion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid app-marketing ">
    <div class="row align-items-center d-flex justify-content-around ml-2 mr-2 ">


        <img src="img/03.png" class="col-8 " alt="...">
        <img src="https://www.flaticon.com/svg/static/icons/svg/2301/2301162.svg" class="col-4" alt="...">

    </div>
    <div class="row align-items-center d-flex justify-content-around ml-5 mr-5 mt-2 ">
        <img src="img/04.svg" class="mb-2" alt="...">
    </div>
</section>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>